[endomondo]
email =s
password =
auth_token =

[google]
; Your calendar ID to which to add stuff
calendar_id = "rautakuu.org_qqi49q9c9sma8op5ef397qusb8@group.calendar.google.com"
; API keys - see https://code.google.com/p/google-api-python-client/wiki/OAuth2
client_id = '439057928539-o5brltt4mjbu1lkvij2pqga0h3o6bf0c.apps.googleusercontent.com'
client_secret = 'secret'
scope = 'https://www.googleapis.com/auth/calendar'
developerkey = 'AIzaSyD3_ziiwUfKihbW1HX2tXidk79Iady4W-Y'
